body {
    font-family: sans-serif;
    background-color: #222222;
    color: #aaaaaa;
    text-align: center;
    line-height: 1.4;
    padding: 0;
    margin: 0;
}

header {
    padding: 1.5em;
    border-bottom: 1px solid #000000;
}

section#content {
    padding: 4em 2em;
    background-color: #1d1d1d;
    color: #ffffff;
}

section#content h2#randomQuestion {
    font-size: 2.5em;
}

section#content h3#randomQuestionIndex {
    margin-top: 2em;
    font-size: 1em;
    color: #666666;
}

section#content a#refreshQuestion {
    display: inline-block;
    padding: 0.8em 1.5em;
    border-radius: 2em;
    color: #000000;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1;
    background-color: #dddddd;
    border-bottom: 4px solid #000000;
    text-decoration: none;
}

section#content a#refreshQuestion:hover {
    background-color: #ffffff;
}

section#content a#refreshQuestion:active {
    background-color: #ffffff;
}



footer {
    padding: 1.5em;
    border-top: 1px solid #000000; 
    font-size: 0.8em;
}

a {
    color: #cccccc;
}